

#slider_box .jshowoff {

	margin: 10px 0 40px 0;
	width: 695px;
	min-height:225px;	

  
	}

#slider_box div.sliderLeft{
	width: 695px;
	height:225px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;

	}
#slider_box div.images img {
	
	
	width: 695px;
	height:225px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	}
#slider_box .jshowoff {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	}
#slider_box div.auction-item {
border:1px solid black;
border-radius:6px;


}
#slider_box div.auction-item img{
margin: 10px;
	width:200px;
	height:auto;
	}
#slider_box div.auction-item span.sliderRight{

	width:450px;
	position:absolute;
	top:10px;
	left:220px;
	height:auto;
	}
#slider_box div.auction-item span.sliderRight h2{

	margin: 0 0 5px 0;
	font-size:16px;
	font-weight:bold;
	}
#slider_box div.auction-item span.sliderRight p, .bigbannerinfo, .bannerprice{

	margin: 0 0 5px 0;
	font-size:14px;
	font-weight:bold;
	}
	
.bigbannerinfo{
 
  color:red;
  position:absolute;
  top:80px;
  left:20px;
  
}
.bannerprice {
    position:absolute;
  top:80px;
  left:135px;
 

}
.retailvalue {
     position:absolute;
  top:100px;
  left:20px;
 
}
#slider_box div.auction-item span.sliderRight .current-winner {
font-weight:bold;
position:absolute;
top:60px;


}
#slider_box div.auction-item span.sliderRight .avatar img{
  width:85px;
  height:auto;
     position:absolute;
  top:80px;
  left:185px;
}
#slider_box div.auction-item span.sliderRight .button {
background: url("../img/buttons/place-bid.gif") no-repeat scroll left top transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    height: 26px;
    margin: 5px 0 0 2px;
    padding: 10px 0 0;
    text-align: center;
    text-shadow: 1px 1px #486A1B;
    text-transform: uppercase;
    width: 157px;
    position:absolute;
    right:20px;
    top:150px;
   
    
}
.timer01 {
  font-size:25px;
  color:red;
  font-weight:bolder;
     position:absolute;
  top:75px;
  left:280px; 
}
#slider_box  #basicFeatures {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	}
 #slider_box .jshowoff.basicFeatures {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	}
#slider_box .jshowoff.basicFeatures img {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	}
 #slider_box .jshowoff.basicFeatures div {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	}	
#slider_box .jshowoff div p {
	  background-color: #efefef;
	}
#slider_box .jshowoff div h2 {
	 background-color: #efefef;
	}
#slider_box .jshowoff h2 {
	font-size: 23px;
	padding: 15px 20px 0px;
	margin: 0;
	}
 #slider_box .jshowoff p {
	font-size: 23px;
	padding: 15px 20px 0px;
	margin: 0;
	}
#slider_box .jshowoff p {
	font-size: 19px;
	line-height: 15px;
	}
#slider_box .eddie {
	float: right;
	padding: 15px 20px 15px 20px;
	}
 p.jshowoff-slidelinks {
	position: absolute;
	top: 220px;
	left: 15px;
	margin: 0 0 20px 0;
	padding: 0;
	}
 p.jshowoff-slidelinks a {
	display: block;
	background-color: #1c97e1;
	color: #fff;
	padding: 5px 7px 5px;
	margin: 5px 0 0 5px;
	float: left;
	text-decoration: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border:1px solid #fff;
	outline: 2px solid #1c97e1;
	font-size: 11px;
	line-height: 14px;
	}
#slider_box .jshowoff-controls a {
	display: block;
	background-color: #000;
	color: #fff;
	padding: 5px 7px 5px;
	margin: 5px 0 0 5px;
	float: left;
	text-decoration: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	outline: none;
	font-size: 11px;
	line-height: 14px;
	}




/*-- Re-styled Thumbnail Demo --*/

a.jshowoff-prev {
	display:none;
  position:absolute;
  top:80px;
	left: 5px;
	height:50px;
	width:50px;
	background-repeat:no-repeat;
	background-image: url(../include/slider_images/blue/previous.png);
	background-size:50px 50px;
	}
a.jshowoff-next {
	display:none;
	  position:absolute;
  top:80px;
	right:12px;
	height:50px;
	width:50px;
	background-repeat:no-repeat;
	background-image: url(../include/slider_images/blue/next.png);
	background-size:50px 50px;
	}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	


