<table style="width:800px; border:1px solid #999999; background-color:#c2e7d8" cellspacing="0" cellpadding="0">
	<tr>
		<td width="10px">&nbsp;</td>
		<td style="text-align:left; line-height:20px"><b>!--txt_credits1--</b></td>
	</tr>
</table>
<table style="width:800px; height:50px; border:1px solid #999999; background-color:#E7E7E7" cellspacing="8" cellpadding="0">
	<tr>
		<td style="vertical-align:top; text-align:left;">
			<table style="width:100%; border:0px">
				<tr>
					<td style="width:12px">&nbsp;</td>
					<td style="width:150px; text-align:right">!--txt_credits2--</td>
					<td>&nbsp;</td>
					<td>Martin Zimmermann alias <a href="http://www.ctxtra.org/smf/index.php?action=profile;u=1" target="_blank">Nordin</a></td>
				</tr>
				<tr><td colspan="4">&nbsp;</td></tr>
				<tr>
					<td style="width:12px">&nbsp;</td>
					<td style="width:150px; text-align:right">!--txt_credits3--</td>
					<td>&nbsp;</td>
					<td><a href="http://www.ctxtra.org/smf/index.php?action=profile;u=1" target="_blank">Nordin</a>, <a href="http://www.ctxtra.org/smf/index.php?action=profile;u=21" target="_blank">schlumpfi</a></td>
				</tr>
				<tr><td colspan="4">&nbsp;</td></tr>
				<tr>
					<td style="width:12px">&nbsp;</td>
					<td style="width:150px; text-align:right">!--txt_credits7--</td>
					<td>&nbsp;</td>
					<td><a href="http://www.ctxtra.org/smf/index.php?action=profile;u=21" target="_blank">schlumpfi</a></td>
				</tr>
				<tr><td colspan="4">&nbsp;</td></tr>
				<tr>
					<td style="width:12px">&nbsp;</td>
					<td style="width:150px; text-align:right">!--txt_credits4--</td>
					<td>&nbsp;</td>
					<td>Uwe Heinig alias <a href="http://www.ctxtra.org/smf/index.php?action=profile;u=13" target="_blank">Uwe</a> (PHPKit)</td>
				</tr>
				<tr><td colspan="4">&nbsp;</td></tr>
				<tr>
					<td style="width:12px">&nbsp;</td>
					<td style="width:150px; text-align:right; vertical-align:top">!--txt_credits5--</td>
					<td>&nbsp;</td>
					<td>!--txt_credits6--</td>
				</tr>
			</table>
		</td>
	</tr>
</table>