
<table style="width:400px; border:0px solid #696969; background-color:#ffffff; margin:0px 0px 0px 0px" cellspacing="0" cellpadding="!--ct_block_space--">
	<tr>
		<td>
			<center>
			<table style="width:400px; border:1px solid #999999; background-color:#c2e7d8" cellspacing="0" cellpadding="0">
				<tr>
					<td width="10px">&nbsp;</td>
					<td style="text-align:left; line-height:20px;">
					<b>!--txt_login1--</b>
					</td>
					<td width="10px">&nbsp;</td>
				</tr>
			</table>!--falselogin--!--logout--
			<table style="width:400px; height:130px; border:1px solid #999999; background-color:#E7E7E7" cellspacing="0" cellpadding="0">
				<tr>
			    	<td valign="middle" align="center">
						<form action="index.php?login=true" method="post">
						<table width="85%">
							<tr>
								<td style="line-height:25px; width:100%" colspan="2">&nbsp;
									
								</td>
							</tr>
							<tr>
								<td style="text-align:left">
									<span class="formular_header">&nbsp;!--txt_login8--&nbsp;</span><br />
									<input type="text" name="benutzername" />
								</td>
								<td style="text-align:left">
									<span class="formular_header">&nbsp;!--txt_login9--&nbsp;</span><br />
									<input type="password" name="password" />
								</td>
							</tr>
							<tr>
								<td style="text-align:left; width:100%" colspan="2">
									<span style="font-weight:bold">!--txt_login10-- 
								  <input type="text" size="3" name="session_time" value="10" /></span>
								</td>
						  </tr>
							<tr>
								<td width="100%" colspan="2">
									<hr noshade="noshade" style="color:#999999;" size="1px" />
								</td>
							</tr>
							<tr>
								<td colspan="2"  style="text-align:right;">
									<input type="submit" name="login" value="&nbsp;!--txt_login11--&nbsp;" />
								</td>
							</tr>
						</table>
						</form>
					</td>
				</tr>
			</table>
			</center>
		</td>
	</tr>
</table>
<table style="width:400px; height:10px;" cellspacing="2px" cellpadding="0px">
	<tr>
		<td style="text-align:right; line-heigh:10px; color:#999999; font-size:10px; font-family:verdana, arial">
			!--versionsinfo_login--
		</td>
	</tr>
</table>
