
<table style="width:800px; border:1px solid #999999; background-color:#c2e7d8" cellspacing="0" cellpadding="0">
	<tr>
		<td width="10px">&nbsp;</td>
		<td style="text-align:left; line-height:20px"><b>!--txt_more2-- !--http_host--</b> [ <a href="more_print.php?id=!--id--" target="more!--id--">!--txt_more8--</a> ]</td>
        <td width="10px">&nbsp;</td>
	</tr>
</table>
<table style="width:800px; height:50px; border:1px solid #999999; background-color:#E7E7E7" cellspacing="8" cellpadding="0">
	<tr>
		<td style="text-align:justify; vertical-align:top">!--txt_more3--</td>
        <td style="text-align:justify; vertical-align:top">!--txt_more4-- !--dmY_explode_time-- - !--Hms_explode_time--</td>
	</tr>
	<tr>
		<td style="text-align:justify; vertical-align:top">!--txt_more5-- !--H_explode_time--</td>
        <td style="text-align:justify; vertical-align:top">!--explode_angriffe--</td>
	</tr>
	<tr>
		<td style="text-align:justify; vertical-align:top">QUERY_STRING</td>
        <td style="text-align:justify; vertical-align:top"><span style="text-align:left">!--explode_angriff--</span></td>
	</tr> 
	<tr>
		<td style="text-align:justify; vertical-align:top"><span style="text-align:right">REMOTE_ADDR</span></td>
        <td style="text-align:justify; vertical-align:top"><span style="text-align:left">!--explode_remoteadr--</span></td>
	</tr>            
	<tr>
		<td style="text-align:justify; vertical-align:top">WHOIS_REMOTE_ADDR</td>
        <td style="text-align:justify; vertical-align:top"><a href="http://whois.domaintools.com/!--explode_refferer--">http://whois.domaintools.com/!--explode_refferer--</a></td>
	</tr>
	<tr>
      <td style="text-align:justify; vertical-align:top">HTTP_USER_AGENT</td>
	  <td style="text-align:justify; vertical-align:top"><span style="text-align:left">!--explode_useragent--</span></td>
  </tr>
	<tr>
      <td style="text-align:justify; vertical-align:top">HTTP_REFERER</td>
	  <td style="text-align:justify; vertical-align:top"><span style="text-align:left">!--explode_refferer--</span></td>
  </tr>
	<tr>
      <td style="text-align:justify; vertical-align:top">CONTENT_TYPE</td>
	  <td style="text-align:justify; vertical-align:top"><span style="text-align:left">!--explode_type--</span></td>
  </tr>
	<tr>
      <td style="text-align:justify; vertical-align:top">HTTP_COOKIE</td>
	  <td style="text-align:justify; vertical-align:top"><span style="text-align:left">!--explode_cookie--</span></td>
  </tr>
	<tr>
      <td style="text-align:justify; vertical-align:top">SERVER_PROTOCOL</td>
	  <td style="text-align:justify; vertical-align:top"><span style="text-align:left">!--explode_protocol--</span></td>
  </tr>
	<tr>
	  <td style="text-align:justify; vertical-align:top">REQUEST_METHOD</td>
      <td style="text-align:justify; vertical-align:top"><span style="text-align:left">!--explode_method--</span></td>
  </tr>
	<tr>
	  <td style="text-align:justify; vertical-align:top">REQUEST_URI</td>
      <td style="text-align:justify; vertical-align:top"><span style="text-align:left">!--explode_uri--</span></td>
  </tr>
	<tr>
	  <td style="text-align:justify; vertical-align:top">FULL_REQUEST_URI</td>
      <td style="text-align:justify; vertical-align:top">http://!--http_host--!--explode_uri--</td>
  </tr>
</table>