			<table style="width:800px; border-top:0px; border-left:1px solid #999999; border-bottom:1px solid #999999; border-right:1px solid #999999;" cellspacing="0" cellpadding="0">
				<tr>
			    	<td onClick="location.href='!--ct_borddir--/index.php?home=true'" !--navi_home--">!--txt_navi1--</td>
			    	<td onClick="location.href='!--ct_borddir--/index.php?hack=true'" !--navi_hack--">!--txt_navi2--</td>
			    	<td onClick="location.href='!--ct_borddir--/index.php?ipfilter=true'" !--navi_ipfilter--">!--txt_navi3--</td>
			    	<td onClick="location.href='!--ct_borddir--/index.php?spamfilter=true'" !--navi_spamfilter--">!--txt_navi4--</td>
			    	<td onClick="location.href='!--ct_borddir--/index.php?settings=true'" !--navi_einstellungen--">!--txt_navi5--</td>
			    	<td onClick="location.href='!--ct_borddir--/index.php?tools=true'" !--navi_tools--">!--txt_navi9--</td>
			    	<td onClick="location.href='!--ct_borddir--/index.php?help=true'" !--navi_hilfe--">!--txt_navi6--</td>
			    	<td onClick="location.href='!--ct_borddir--/index.php?credits=true'" !--navi_credits--">!--txt_navi7--</td>
			    	<td style="background-color:#c2e7d8; vertical-align:middle; text-align:center; color:#999999; line-height:20px; width:200px">&nbsp;</td>
			    	<td onClick="location.href='!--ct_borddir--/index.php?logout=true'" onmouseover="cOnNavi(this);" onmouseout="cOutNavi(this);" style="background-color:#c2e7d8; cursor:pointer; vertical-align:middle; text-align:center; color:#8000FF; line-height:20px; width:60px">!--txt_navi8--</td>
				</tr>
			</table>
			<table style="width:800px; border:0px" cellspacing="0" cellpadding="0">
				<tr>
			    	<td style="line-height:!--ct_block_space--px">&nbsp;</td>
				</tr>
			</table>