<table style="width:800px; border:0px;" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<form action="index.php?settings=true" method="post">
			<table style="width:800px; border:1px solid #999999; background-color:#c2e7d8" cellspacing="0" cellpadding="0">
				<tr>
					<td width="10px">&nbsp;</td>
					<td style="text-align:left; line-height:20px"><b>!--txt_settings1--</b></td>
				</tr>
			</table>
			<table style="width:800px; height:150px; border:1px solid #999999; background-color:#E7E7E7" cellspacing="15" cellpadding="0">
				<tr>
					<td style="text-align:justify; vertical-align:top">
						!--info_einstellungen--
						<table width="750px">
							<tr>
								<td style="width:400px; vertical-align:top;">!--txt_settings2--</td>
								<td style="vertical-align:top;"><input type="text" name="db_user" value="!--ct_db_user--" size="70" /></td>
							</tr>
							<tr>
								<td style="vertical-align:top;">!--txt_settings3--</td>
								<td style="vertical-align:top;">!--input_pssword--</td>
							</tr>
							<tr>
								<td style="height:50px; vertical-align:top;">!--txt_settings4--</td>
								<td style="vertical-align:top;">
									<input type="text" name="email" value="!--ct_email--" size="70" /><br />
									<span style="font-size:9px; color:#bb0000">!--txt_settings5--</span>
								</td>
							</tr>
							<tr>
								<td style="vertical-align:top;">!--txt_settings6--</td>
								<td style="vertical-align:top;">
									<input !--color_ct_borddir-- type="text" name="ct_borddir" value="!--ct_borddir--" size="70" /><br />
									<span style="font-size:9px">!--txt_settings7--</span>
								</td>
							</tr>
							<tr>
								<td style="height:50px; vertical-align:top;">!--txt_settings8--</td>
								<td style="vertical-align:top;">
									<input !--color_filedir-- type="text" name="filedir" value="!--ct_filedir--" size="70" /><br />
									<span style="font-size:9px">!--txt_settings9--</span>
								</td>
							</tr>
							<tr>
								<td style="height:30px; vertical-align:top;">!--txt_settings43--</td>
								<td style="vertical-align:top;">
								    <select name="language" size="1">
										!--lang_options--
									</select>
								</td>
							</tr>
							<tr>
								<td style="height:50px; vertical-align:top;">!--txt_settings44--</td>
								<td style="vertical-align:top;">
								    <select name="htaccess" size="1">
										<option value="yes" !--select_htaccess1-->!--txt_settings45--</option>
										<option value="no" !--select_htaccess2-->!--txt_settings46--</option>
									</select>&nbsp;&nbsp;
									<input type="checkbox" name="htaccess_error" value="yes" !--select_htaccess_error-- /> !--txt_settings47--
								</td>
							</tr>
							<tr>
								<td style="height:30px; vertical-align:top;">!--txt_settings10--</td>
								<td style="vertical-align:top;">
									<input type="radio" name="atack_email" !--select_atack_email1-- value="yes" /> !--txt_settings11-- &nbsp;&nbsp;&nbsp;
									<input type="radio" name="atack_email" !--select_atack_email2-- value="no" /> !--txt_settings12--
								</td>
							</tr>
							<tr>
								<td style="height:30px; vertical-align:top;">!--txt_settings13--</td>
								<td style="vertical-align:top;">
									<input type="radio" name="ref_loggen" !--select_ref_loggen1-- value="yes" /> !--txt_settings11-- &nbsp;&nbsp;&nbsp;
									<input type="radio" name="ref_loggen" !--select_ref_loggen2-- value="no" /> !--txt_settings12--<br />
									<span style="font-size:9px">!--txt_settings14--</span><br />
									<br />
								</td>
							</tr>
							<tr>
								<td style="height:30px; vertical-align:top;">!--txt_settings15--</td>
								<td style="vertical-align:top;">
									<input type="radio" name="auto_iplist" !--select_auto_iplist1-- value="yes" /> !--txt_settings16--&nbsp;&nbsp;&nbsp;
									<input type="radio" name="auto_iplist" !--select_auto_iplist2-- value="no" /> !--txt_settings12--
								</td>
							</tr>
							<tr>
								<td style="height:30px; vertical-align:top;">!--txt_settings17--</td>
								<td style="vertical-align:top;">
									<input type="radio" name="auto_spamlist" !--select_auto_spamlist1-- value="yes" /> !--txt_settings16--&nbsp;&nbsp;&nbsp;
									<input type="radio" name="auto_spamlist" !--select_auto_spamlist2-- value="no" /> !--txt_settings12--
								</td>
							</tr>
							</tr>
							<tr>
								<td style="height:30px; vertical-align:top;">!--txt_settings18--</td>
								<td style="vertical-align:top;">
									<input type="radio" name="bbc_spam" !--select_bbc_spam1-- value="yes" /> !--txt_settings11-- &nbsp;&nbsp;&nbsp;
									<input type="radio" name="bbc_spam" !--select_bbc_spam2-- value="no" /> !--txt_settings12--
								</td>
							</tr>
							<tr>
								<td style="height:30px; vertical-align:top;">!--txt_settings19--</td>
								<td style="vertical-align:top;">
									<input type="text" name="block_space" value="!--ct_block_space--" size="70" /><br />
									<span style="font-size:9px">!--txt_settings20--</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table style="width:800px; border:0px" cellspacing="0" cellpadding="0"><tr><td style="line-height:!--ct_block_space--px">&nbsp;</td></tr></table>
			<table style="width:800px; border:1px solid #999999; background-color:#c2e7d8" cellspacing="0" cellpadding="0">
				<tr>
					<td width="10px">&nbsp;</td>
					<td style="text-align:left; line-height:20px"><b>!--txt_settings27--</b> [ <a href="?help=true">!--txt_settings28--</a> ]</td>
				</tr>
			</table>			
			<table style="width:800px; height:150px; border:1px solid #999999; background-color:#E7E7E7" cellspacing="15" cellpadding="0">
				<tr>
					<td style="text-align:justify; vertical-align:top">
						<table width="750px">
							<tr>
								<td style="height:12px; width:15px; vertical-align:top;">&nbsp;</td>
								<td colspan="3" style="vertical-align:top;">
									<input type="radio" name="spamfilter" !--select_spamprotector1-- value="no" /> !--txt_settings29--<br /><br />
								<td>
							</tr>
							<tr>
								<td style="height:12px; width:15px; vertical-align:top;">&nbsp;</td>
								<td colspan="2" style="vertical-align:top;">
									<input type="radio" name="spamfilter" !--select_spamprotector2-- value="foren" />
								    <select name="forum" size="1">
										<option !--select_forum1-- value="phpkit_1.6.1">!--txt_settings30-- PHPKit 1.6.1</option>
										<option !--select_forum2-- value="smf_1.1.2">!--txt_settings30-- SMF 1.1.2</option>
										<option !--select_forum3-- value="phpbb2">!--txt_settings30-- phpBB2</option>
										<option !--select_forum4-- value="dzcp14xx">!--txt_settings30-- DZCP 1.4.x.x</option>
										<option !--select_forum5-- value="phpfusion_6">!--txt_settings30-- PHP Fusion 6</option>
									</select><br /><br />
								</td>
							</tr>
							<tr>
								<td style="height:12px; width:15px; vertical-align:top;">&nbsp;</td>
								<td style="vertical-align:top;">
									<input type="radio" name="spamfilter" !--select_spamprotector3-- value="other" /> !--txt_settings31--
								</td>
								<td style="text-align:center">
									1. <input type="text" size="28" name="spam_protector_submit_other" value="!--ct_spam_protector_submit_other_print--"><br />
									<span style="font-size:9px">!--txt_settings32-- $_POST['submit']</span>
								</td>
								<td style="text-align:center">
									2. <input type="text" size="28" name="spam_protector_content_other" value="!--ct_spam_protector_content_other_print--"><br />
									<span style="font-size:9px">!--txt_settings33-- $_POST['text']</span>
								</td>
							</tr>
							<tr>
								<td style="height:12px; width:15px; vertical-align:top;">&nbsp;</td>
								<td colspan="3">
									<hr style="height:1px; width:100%; color:#999999">
								</td>
							</tr>
							<tr>
								<td style="height:12px; width:15px; vertical-align:bottom;">&nbsp;</td>
								<td style="height:30px; vertical-align:bottom;">!--txt_settings34--</td>
								<td style="vertical-align:bottom;">
									<input type="radio" name="iploggen_spam" !--select_iploggen_spam1-- value="yes" /> !--txt_settings11-- &nbsp;&nbsp;&nbsp;
									<input type="radio" name="iploggen_spam" !--select_iploggen_spam2-- value="no" /> !--txt_settings12--
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table style="width:800px; border:0px" cellspacing="0" cellpadding="0"><tr><td style="line-height:!--ct_block_space--px">&nbsp;</td></tr></table>
			<table style="width:800px; border:1px solid #999999; background-color:#c2e7d8" cellspacing="0" cellpadding="0">
				<tr>
					<td width="10px">&nbsp;</td>
					<td style="text-align:left; line-height:20px"><a name="footer"></a><b>!--txt_settings35--</b> [ <a href="?help=true">!--txt_settings28--</a> ]</td>
				</tr>
			</table>			
			<table style="width:800px; height:150px; border:1px solid #999999; background-color:#E7E7E7" cellspacing="15" cellpadding="0">
				<tr>
					<td style="text-align:justify; vertical-align:top">
						<table width="750px" cellspacing="0" cellpadding="0">
							<tr>
								<td colspan="2" style="vertical-align:top;">
									<table style="width:100%">
										!--allfooter--
										<tr>
											<td colspan="2" style="text-align:center">
												<span style="color:#bb0000; font-weight:bold;">!--txt_settings37--</span><br />
												!--txt_settings38--
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table style="width:800px; border:0px" cellspacing="0" cellpadding="0"><tr><td style="line-height:!--ct_block_space--px">&nbsp;</td></tr></table>
			<table style="width:800px; border:1px solid #999999; background-color:#c2e7d8" cellspacing="0" cellpadding="0">
				<tr>
					<td width="10px">&nbsp;</td>
					<td style="text-align:left; line-height:20px"><b>!--txt_settings39--</b></td>
				</tr>
			</table>			
			<table style="width:800px; height:30px; border:1px solid #999999; background-color:#E7E7E7" cellspacing="15" cellpadding="0">
				<tr>
					<td style="text-align:justify; vertical-align:middle">
						<table width="750px">
							<tr>
								<td colspan="2" style="text-align:center">  <input type="submit" name="submit_config" value="!--txt_settings40--" />  </td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			</form>
		</td>
	</tr>
</table>