<table style="width:800px; border:1px solid #999999; background-color:#c2e7d8" cellspacing="0" cellpadding="0">
	<tr>
		<td width="10px">&nbsp;</td>
		<td style="text-align:left; line-height:20px"><b>!--txt_spamfilter5--</b></td>
	</tr>
</table>
<table style="width:800px; height:50px; border:1px solid #999999; background-color:#E7E7E7" cellspacing="8" cellpadding="0">
	<tr>
		<td style="vertical-align:top; text-align:left;">
			!--txt_spamfilter6--<br />
			<span style="font-weight:bold">!--txt_spamfilter7-- !--select_auto_spamlist--.</span> [ <a href="index.php?settings=true">!--txt_spamfilter8--</a> ] !--txt_spamfilter9-- <a href="?help=true">!--txt_spamfilter10--</a>.
		</tr>
	</tr>
</table>
<table style="width:800px; border:0px" cellspacing="0" cellpadding="0">
	<tr>
    	<td style="line-height:!--ct_block_space--px">&nbsp;</td>
	</tr>
</table>
<table style="width:800px; border:1px solid #999999; background-color:#c2e7d8" cellspacing="0" cellpadding="0">
	<tr>
		<td width="10px">&nbsp;</td>
		<td style="text-align:left; line-height:20px"><b>!--txt_spamfilter11--</b></td>
	</tr>
</table>
<table style="width:800px; height:150px; border:1px solid #999999; background-color:#E7E7E7" cellspacing="15" cellpadding="0">
	<tr>
		<td style="vertical-align:top; text-align:left;">
			<b>!--count_spamwords-- !--txt_spamfilter12--</b>
			<table style="width:340px" cellspacing="0" cellpadding="0">
				<tr>
					<td sytle="text-align:left; vertical-align:top">
						<form action="index.php?spamfilter=true" method="post">
							<textarea name="spamlist" cols="40" rows="10">!--loggedspam--</textarea><br />
							  <input type="submit" name="submit_spamlist" value="!--txt_spamfilter13--" /> !--info_speichern--  
						</form>
					</td>
				</tr>
			</table>
		</td>
		<td style="text-align:center; vertical-align:middle; width:55px">
			<span style="font-size:20px">&larr;<br /><br />&larr;</span>
		</td>
		<td style="vertical-align:top; text-align:left;">
			<b>!--session_online_spamwords-- !--txt_spamfilter14--</b>
			<table style="width:350px" cellspacing="0" cellpadding="0">
				<tr>
					<td sytle="text-align:left; vertical-align:top">
						<form action="index.php?spamfilter=true" method="post">
							<textarea name="spamlist_add" cols="40" rows="10" readonly="readonly" !--textarea_font_color-->!--chop--</textarea>
							!--online_spamlist--
						</form>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table style="width:800px; border:0px" cellspacing="0" cellpadding="0">
	<tr>
    	<td style="line-height:!--ct_block_space--px">&nbsp;</td>
	</tr>
</table>
<table style="width:800px; border:1px solid #999999; background-color:#c2e7d8" cellspacing="0" cellpadding="0">
	<tr>
		<td width="10px">&nbsp;</td>
		<td style="text-align:left; line-height:20px"><b>!--count_loged_spam-- !--txt_spamfilter17--</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[ !--select_bbc_spam-- ] !--download_logfile--</td>
	</tr>
</table>
<table style="width:800px; height:150px; border:1px solid #999999; background-color:#E7E7E7" cellspacing="15" cellpadding="0">
	<tr>
		<td style="vertical-align:top; text-align:left;">
			<form action="index.php?spamfilter=true" method="post">
	    	    <div style="width: 100%; !--div_height-- overflow: !--div_overflow--; scrollbar-base-color:#E7E7E7; text-align:left;">
				<table width="97%">
					!--count_spam_list--
				</table>
				</div>
				!--count_zeilen_button--	
			</form>	
		</td>
	</tr>
</table>
			