<table style="width:800px; border:1px solid #999999; background-color:#c2e7d8" cellspacing="0" cellpadding="0">
	<tr>
		<td width="10px">&nbsp;</td>
		<td style="text-align:left; line-height:20px"><b>!--txt_credits1--</b></td>
	</tr>
</table>
<table style="width:800px; height:50px; border:1px solid #999999; background-color:#E7E7E7" cellspacing="8" cellpadding="0">
	<tr>
		<td height="500px" style="vertical-align:top; text-align:left;">
			<p>[ <a href="admin/phpinfo.php" target="_blank">PHP Info</a> ]<br />
		    </p>
			<p><br />
			<table width="200px" border="0">
				<tr>
					<td width="100px">allow_url_fopen:</td>
					<td>&nbsp;</td>
		            <td style="text-align:left">!--allow_url_fopen--</td>
		        </tr>
				<tr>
					<td>safe_mode:</td>
					<td>&nbsp;</td>
		            <td style="text-align:left">!--safe_mode--</td>
		        </tr>
		    </table>
			<br />
			<br />
			<b>PHP Version:</b><br />
			!--phpversion--<br />
			<br />
			<b>SQL Version</b> (Client API version):<br />
			!--sqlversion--<br />
			<br />
            <b>Server OS:</b><br />
			!--server_os--<br />
			<br />
			<b>SERVER_DOCUMENT_ROOT:</b><br />
			!--server_document_root--<br />
			<br />
			<b>SERVER_SIGNATURE:</b><br  />
			!--server_signature--<br />
			<b>SERVER_SOFTWARE:</b><br />
			!--server_software--<br />
			<br />
			<b>SERVER_ADDR:</b><br />
			!--server_addr--<br />
			<br />
			<b>HTTP_ACCEPT_LANGUAGE:</b><br />
			!--http_accept_language--<br />
		</td>
	</tr>
</table>