<table style="width:800px; border:1px solid #999999; background-color:#c2e7d8" cellspacing="0" cellpadding="0">
	<tr>
		<td width="10px">&nbsp;</td>
		<td style="text-align:left; line-height:20px"><b>!--txt_wormprotector1--</b></td>
	</tr>
</table>
<table style="width:800px; height:50px; border:1px solid #999999; background-color:#E7E7E7" cellspacing="8" cellpadding="0">
	<tr>
		<td style="vertical-align:top; text-align:left;">!--txt_wormprotector2--</td>
	</tr>
</table>
<table style="width:800px; border:0px" cellspacing="0" cellpadding="0">
	<tr>
    	<td style="line-height:!--ct_block_space--px">&nbsp;</td>
	</tr>
</table>
<table style="width:800px; border:1px solid #999999; background-color:#c2e7d8" cellspacing="0" cellpadding="0">
	<tr>
		<td width="10px">&nbsp;</td>
		<td style="text-align:left; line-height:20px"><b>!--txt_wormprotector3--</b></td>
	</tr>
</table>
<table style="width:800px; height:150px; border:1px solid #999999; background-color:#E7E7E7" cellspacing="15" cellpadding="0">
	<tr>
		<td style="text-align:justify; vertical-align:top">
			!--txt_wormprotector4--<br />
			<br />
			!--txt_wormprotector5--<br />
			<br />
			<span style="color:#bb0000; font-weight:bold; font-size:15px">!--txt_wormprotector6--</span><br />
			<span style="color:#bb0000;">!--txt_wormprotector7-- <b>!--server_remote_addr--</b> !</b></span><br />
			<br />
			<a href="index.php?ctxtra_dummy&chr(">!--txt_wormprotector8--</a>
		</td>
	</tr>
</table>
<table style="width:800px; border:0px" cellspacing="0" cellpadding="0">
	<tr>
    	<td style="line-height:!--ct_block_space--px">&nbsp;</td>
	</tr>
</table>
<table style="width:800px; border:1px solid #999999; background-color:#c2e7d8" cellspacing="0" cellpadding="0">
	<tr>
		<td width="10px">&nbsp;</td>
		<td style="text-align:left; line-height:20px"><b>!--count_signaturen-- !--txt_wormprotector21--</b></td>
	</tr>
</table>
<table style="width:800px; height:150px; border:1px solid #999999; background-color:#E7E7E7" cellspacing="15" cellpadding="0">
	<tr>
		<td style="vertical-align:top; text-align:left;">
			<table style="width:340px" cellspacing="0" cellpadding="0">
				<tr>
					<td sytle="text-align:left; vertical-align:top">
						<form action="index.php?hack=true" method="post">
							<textarea name="worm_whitelist" cols="42" rows="10">!--signaturen--</textarea><br />
							  <input type="submit" name="submit_worm_whitelist" value="!--txt_wormprotector23--" /> !--info_speichern--
						</form>
					</td>
				</tr>
			</table>
		</td>
		<td style="text-align:center; vertical-align:middle; width:10px">
			&nbsp;
		</td>
		<td style="vertical-align:top; text-align:left;">
			<table style="width:350px" cellspacing="0" cellpadding="0">
				<tr>
					<td sytle="text-align:left; vertical-align:top">
						!--txt_wormprotector22--<br />
						<br />
						<span style="color:#FF6600; font-weight:bold">!--txt_wormprotector25--</span>
					</td>
				</tr>
			</table>
		</td>	
	</tr>
</table>
<table style="width:800px; border:0px" cellspacing="0" cellpadding="0">
	<tr>
    	<td style="line-height:!--ct_block_space--px">&nbsp;</td>
	</tr>
</table>
<table style="width:800px; border:1px solid #999999; background-color:#c2e7d8" cellspacing="0" cellpadding="0">
	<tr>
		<td width="10px">&nbsp;</td>
		<td style="text-align:left; line-height:20px">
			<b>!--count_attacks-- !--txt_wormprotector9--</b>!--hack_download--
		</td>
		<td width="10px">&nbsp;</td>
	</tr>
</table>
<table style="width:800px; height:!--div_height--; border:1px solid #999999; background-color:#E7E7E7" cellspacing="0" cellpadding="10">
	<tr>
    	<td valign="middle" align="left">
			<form name="list" action="index.php?hack=true" method="post">
    	    <div style="width: 100%; height:!--div_height--; overflow: auto; scrollbar-base-color:#E7E7E7; text-align:left; background-color:#E7E7E7;">
				<table style="width:97%; !--border--" cellspacing="0" cellpadding="0" >    	    
					!--count_attacks_list--
				</table>
			</div>
					!--count_attacks_button--
			</form>
		</td>
	</tr>
</table>
		
		