body 
{
    width: 680px;
    text-align: center;
    margin: auto auto;
}

#onlinetable
{
    border-collapse: collapse;
    border-top: 1px solid #d3daf6;
    border-left: 1px solid #d3daf6;
    border-right: 1px solid #d3daf6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 20px;
    text-align: left;
    width: 680px;
}

#th 
{
    color: #003399;
    font-size: 14px;
    font-weight: normal;
    padding: 12px 15px;
    border-bottom: 1px solid #d3daf6;

}

#tr
{
    background: #EFF2FF no-repeat scroll 0 0;
    color: #333399;
}

#tr a
{
    color: #333399;
    text-decoration: none;
}

#td
{
    padding: 10px;
}


#tfoot
{
    border-bottom: 1px solid #d3daf6;
    border-top: 1px solid #d3daf6;
}

.cool_message
{
    margin: auto auto;
    color: #333399;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 5px;
    width: 600px;
}

.list a
{
    color: #333399;
    text-decoration: none;    
}
