body {
    margin : 0;
    padding : 0;
    font : 12px verdana, helvetica;
    color : #004182;
   
    
}

body.login {
    background : url(../images/bg_login.png) fixed;
    background-color : #f0f0ff;
    color : #666699;
}

body.folders {
    background: #deebf6 url('../images/bg_fld.png') top right repeat-y;
}

body.folders p {
    margin: 12px 0;
    font : 11px verdana, helvetica;
    color : #004182;
}

body.mlist {
    background: #ffffff url('../images/bg_list.png') top left repeat-x;
}

body.panel {
    background-color : #deebf6;
}

body.help {
    border : 0;
    border-top : 1px solid ThreeDShadow;
    background-color : #f0f0ff;
}

body.message {
    padding : 5px;
    background-color : #ffffff;
}

a {
    color : #004182;
    text-decoration : none;
}

li a {
    color : #0000ff;
}

h1,h2,h3,h4,h5 {
    margin : 0;
    padding : 0;
    font-family : times;
    color : #444477;
}

h2 { font-size: 20px; }

table,td {
    font : 11px verdana, helvetica;
    background-color : transparent;
}

th {
    font-weight : bold;
    background : #ffffff url('../images/bg_msg.png') top left repeat-x;
    color : #004182;
}

table.header {
    margin : 0;
    padding : 0;
    width : 100%;
    border-top : 1px solid white;
    border-bottom : 1px solid ThreeDShadow;
    background-color : #deebf6;
}

table.window {
    border-width : 1px;
    border-style : solid;
    border-color : ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
    background-color : #deebf6;
}

td.value {
    border : 0;
    height : 20px;
    padding : 3px;
    background-color : #f0f0ff;
    border-color : ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow;
    border-width : 1px;
    border-style : solid;
}

table.address th {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color : Window Window ThreeDShadow Window;
    font-weight : normal;
}

table.address td {
    border-width: 1px;
    border-style: solid;
    border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
    background-color : #deebf6;
}

table.address td.entry {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color : Window Window ThreeDShadow Window;
    background-color : #ffffff;
}

table.mlist {
    width : 100%;
}

table.mlist th {
    font : 11px verdana, helvetica;
    font-weight : normal;
    text-align : left;
    padding : 3px;
    border-width : 1px;
    border-style : solid;
    border-color : ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
    color : #004182;
}

table.mlist th.toolbar {
    text-align : center;
    background : #deebf6 none;
}

table.mlist td {
    font : 11px verdana, helvetica;
    font-weight : normal;
    text-align : left;
    padding : 3px;
    border-width : 1px 1px 0 0;
    border-style : solid;
    border-color : #dfdfff;
}

table.mlist td a {
    color : #004182;
    text-decoration : none;
}

table.actions,
table.actions td {
    background : transparent;
}

div.textarea {
    width : 100%;
    height : 100%;
    background-color : #ffffff;
    overflow-y : scroll;
}

textarea {
    font : 12px courier, monospace;
    border : 0px none;
    color : #004182;
    overflow : visible;
}

textarea.info {
    border-width : 1px;
    border-style : solid;
    border-color : ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow;
    width : 100%;
    height : 80px;
}

form {
    margin : 0px;
    padding : 0px;
}

strong {
    font : 11px verdana, helvetica;
    font-weight : bold;
}

input {
    margin : 0;
    padding : 0;
    font : 11px verdana, helvetica;
}

select {
    margin : 0;
    padding : 2px;
    font : 11px verdana, helvetica;
}

input.file {
    margin : 0px;
    padding : 4px;
}

input.text {
    margin : 0;
    padding : 0;
    border : 0;
    width : 100%;
    background : transparent;
}

input.submit, input.button {
    margin : 0 2px;
    padding : 2px;
    font : 11px sans-serif, helvetica;
    color : #004182;
}

input.button {
    width : 30px;
}
