<table style="width:800px; border:1px solid #ff0000; background-color:#ff0000" cellspacing="0" cellpadding="0">
	<tr>
		<td width="10px">&nbsp;</td>
		<td style="text-align:left; line-height:20px; color:#ffffff"><b>!--txt_errors1--</b></td>
	</tr>
</table>
<table width="800px" cellpadding="3" cellspacing="1" style="border:1px solid #ff0000; background-color:#E7E7E7">
	<tr>
		<td class="windowbg" valign="top" style="padding: 7px; text-align:center">
			<span style="font-size:12px; color:#ff0000">
				!--txt_errors6--
			</span>
		</td>
	</tr>
</table>
<table style="width:800px; border:0px" cellspacing="0" cellpadding="0">
	<tr>
    	<td style="line-height:!--ct_block_space--px">&nbsp;</td>
	</tr>
</table>