body{
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.head{
font-family:Arial, Helvetica, sans-serif;
	width:100%;
	text-align:center;
	border-bottom:3px solid #921b00;
	font-size:25px;
	font-weight:bold;
	color:#e12c02;
	padding-top:10px;
	padding-bottom:10px;
	background:#ffe2db;
}

#content{
	width:100%;
	text-align:center;
}